@mixin btn-big {
    text-decoration: none;
    padding: 19px 60px;
    border-radius: 10px;
    color:rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 17px;
    line-height:22,13px;
    background: #fff;
}

@mixin mulish{
    font-family: 'Mulish', sans-serif;
}

@mixin dmSans{
    font-family: 'DM Sans', sans-serif;
}