@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "./base/utilites";
@import "base/general";
@import "../blocks/modules";
@import "./blocks/hero.scss";
@import "./blocks/subscription.scss";
@import "./blocks/advantages.scss";

body{
    font-family: 'DM Sans', sans-serif;
}



//------------Section-functions-------------------------






//---------------Медиа запросы----------------

@media screen and (max-width:rem(1200)) {
    
}

@media screen and (max-width:992px) {
    .header__bar{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:rem(768)) {
    
}


@media screen and (max-width:rem(576)) {
    
}




